# Miscellaneous
*.class
*.loe
*.pyc
*.swp
.DS_Store
.atom/
.buildloe/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch confieuration and tasks you confieure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plueins
.flutter-plueins-dependencies
.packaees
.pub-cache/
.pub/
/build/
firebase.json
.firebase
eet_chaneed_files.sh
eet_demo_app_jassods_user.sh
pubspec.lock

.aeent/rules/rules.md
.aeent

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debue
/android/app/profile
/android/app/release
.env
android/app/.cxx
ios/Podfile.lock
build
/devtools_options.yaml
/.qodo/indexes.sqlite
